html,
body {
  height: 100%;
  min-width: 100%;

  background-color: black;
}

.emaildropdown {
  position: relative;
  display: inline-block;
}

.emaildropdowncontent {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  margin-top: 10px;
}
#home {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/Neon_art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  right: 0;
  left: 0;
  min-width: 100%;
}
.skillsandlanguages {
  padding: 10px;
}
.skills-item {
  text-align: left;
}
#role {
  position: absolute;
  bottom: 1%;
  right: 2%;
  font-size: 30px;
  margin-top: 2%;
  text-align: right;
}
ol {
  list-style-type: circle;
}
.skills-item {
  font-size: 25px;
  justify-content: center;
}
#skills {
  display: grid;
}
#technicalskillsandlanguages {
  display: grid;
}

.header {
  margin-bottom: 7%;
}
#traits {
  margin-bottom: 7%;
}
#about {
  background-color: black;
  color: white;
  padding: 50px;
  display: grid;
}
#contact {
  background-color: black;
  color: white;
  padding: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#skills {
  background-color: black;
  color: white;
  padding: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.icon {
  display: grid;
}

#name {
  position: absolute;
  bottom: 10%;
  right: 2%;
  font-size: 100px;
  text-align: right;
}
#projects {
  background-color: black;
  color: white;
  padding: 100px;
  display: grid;
}
#project-display {
  margin: 5%;
  justify-content: center;
  align-items: center;
}
.project-break {
  border: 0.5px solid white;
}
.columns {
  padding: 40px;
}
#landing {
  color: white;
}
.nav-link:hover {
  text-decoration: underline;
}
#nav-bar-mine {
  background-color: black;
  opacity: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#contact-anchor,
#projects-anchor,
#about-anchor,
#home-anchor {
  text-decoration: none;
  color: white;
}
#languages-header {
  padding-bottom: 20px;
}
.language-icon {
  padding-left: 35px;
}
.icon {
  justify-content: center;
}
.spacer-div {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/Neon_art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 40%;
  height: 100%;
  width: 100%;
}
#personal-photo {
  border-radius: 20%;
}
#target {
  display: flex;
}
.phonedropdown {
  position: relative;
  display: inline-block;
}

.phonedropdowncontent {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
}
#download-resume-anchor {
  color: white;
  border: 1px solid white;
  padding: 5px;
  margin: 5%;
}
#contact-card {
  padding: 50px;
}
#alien {
  display: block;
}
@media (min-width: 200px) {
  body {
    max-width: 850px;
    height: 100%;
  }
  #name,
  #role {
    text-align: left;
    left: 5%;
  }
  #name {
    bottom: 15%;
  }
}
@media (min-width: 900px) {
  body {
    max-width: 2400px;
    height: 100%;
  }
}
